<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>AAAAAAAAAAAAAAAAAAAAAAHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="470" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="border_tabel">
  <tr>
    <td><img src="images/header3.jpg"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="10" cellpadding="0">
      <tr>
        <td valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td bgcolor="#FFCC00">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top" bgcolor="#FFFFFF"><p class="titel_content">Default pagina
          <hr color="#FFCC00" size="1" >
		Welkom bij de veilingsite eenmaalAndermaal. Gewoon opbokken, ga maar naar ebay! </td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td height="25" bgcolor="#FFCC00"> <div align="center" class="copyright">Je moeder</div></td>
  </tr>
</table>
</body>
</html>
