.advertisement
{
	position : fixed;
	right    : 10px;
	top      : 10px;
}

.text_padding
{
	padding : 2% 3%;
}

.header_center
{
	text-align    : center;
	margin-bottom : 0;
}

#reg_submit_button
{
	text-align : right;
}

#reg_invoerlijst_left
{
	height        : 300px;
	width         : 32%;
	display       : inline-block;
	border        : 2px solid BLACK;
	float         : left;
	border-radius : 10px 0 0 10px;
}

.reg_accountgegevens
{
	padding-left  : 2%;
	padding-right : 1%;
	width         : 95%;
	display       : inline-block;
}

#reg_invoerlijst_right
{
	height         : 300px;
	width          : 67%;
	display        : inline-block;
	vertical-align : top;
	border         : 2px solid BLACK;
	margin         : 0;
	border-radius  : 0px 10px 10px 0px;
}

#reg_aanhef
{
	padding-left  : 1%;
	padding-right : 1%;
	width         : 10%;
	display       : inline-block;
}

.reg_voornaamtussenv
{
	padding-left  : 1%;
	padding-right : 1%;
	width         : 26%;
	display       : inline-block;
}

#reg_achternaam
{
	padding-left  : 1%;
	padding-right : 1%;
	width         : 27%;
	display       : inline-block;
}

#reg_email
{
	padding-left  : 1%;
	padding-right : 1%;
	width         : 95%;
	display       : inline-block;
}

.reg_strtnaampostcode
{
	padding-left  : 1%;
	padding-right : 1%;
	width         : 49%;
	display       : inline-block;
}

.reg_huisnummerplaatsnaamtelefoon
{
	padding-left  : 1%;
	padding-right : 1%;
	width         : 30%;
	display       : inline-block;
}

.autodisplay
{
	text-align  : center;
	float       : left;
	position    : relative;
	padding     : 10px;
	border      : 2px solid;
	margin-left : 10px;
	margin-top  : 10px;
}

.autodisplay img
{
	height : 150px;
	width  : 200px;
}

.specifiekZoeken
{
	position      : relative;
	float         : left;
	width         : 200px;
	margin-bottom : 500px;
}

.zoekbox
{
	vertical-align: middle;
}

.main
{
	background-color : #FF7D73;
	height           : 190px;
}

.main_header
{
	height : 186px;
}

.main_header_login
{
	float            : left;
	position         : relative;
	background-color : #E03E31;
	height           : 100%;
	max-height       : 186px;
}

.main_header_logo
{
	float    : left;
	position : relative;
}

.main_menu
{
	height   : 60px;
	position : absolute;
}

.main_content
{
	background-color : #FF7D73;
	color            : black;
	width            : 70%;
}

.textbox
{
	background : transparent url(http://i.imgur.com/J8xd68J.png) repeat-x;
	border     : 1px solid #999;
	outline    : 0;
	height     : 20px;
	width      : 160px;
}

body
{
	background-color : #FF7D73;
}

img.left
{
	float  : left;
	margin : 0.5em 1em 1em 0;
	border : 1px solid #999;
	clear  : left;
}

table.autodisplay
{
	width           : 800px;
	border-collapse : collapse;
	border          : 1px solid black;
}

table.autodisplay td
{
	border     : 1px solid black;
	text-align : center;
}

table img
{
	width  : 200px;
	height : 150px;
}

ul.menu
{
	list-style : none;
	width      : 100%;
	padding    : 0;
	margin     : 0;
}

ul.menu li
{
	float : left;
	width : 100px;
}

ul.menu > li
{
	margin-left : 2px;
}

ul.menu li a
{
	color            : white;
	background-color : #A60C00;
	display          : block;
	font-family      : Arial, Helvetica, sans-serif;
	text-decoration  : none;
	border           : 1px black solid;
	padding          : 3px;
}

ul.menu li a:hover
{
	background-color : #F00;
	color            : #A60C00;
}

ul.menu li a:active
{
	color : yellow;
}

ul.menu li ul
{
	list-style : none;
	display    : none;
	position   : absolute;
	width      : 100px;
}

ul.menu li:hover ul
{
	display : block;
}

ul.menu li ul li
{
	margin-top : -1px;
}

li > ul
{
	padding : 0;
}
